.text-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.link {
  color: rgb(27, 68, 128);
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .text-container {
    max-width: 50%;
    text-align: left;
  }
}
