.text-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bullet-label {
  color: gold;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .text-container {
    max-width: 50%;
    text-align: left;
  }
}
