.orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .order-item {
  margin-bottom: -1rem;
} */

.order-time {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: -1rem;
}

.order-time-date {
  font-weight: bold;
  font-size: 1.5rem;
  color: gold;
  margin-bottom: -0.25rem;
}
