.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headline-container {
  width: 100vw;
}

.headline-text {
  font-family: "Beth Ellen";
  color: white;
  font-size: 48px;
  line-height: 96px;
  margin-top: 0;
}

.heading {
  font-family: "Beth Ellen";
  font-size: 24px;
  color: rgb(27, 68, 128);
}

.bold {
  font-weight: 600;
}

/* try this: */
/* 
button {
  transition: all .2s ease-in-out;
}

button:not(:disabled):active {
  transform: translateY(1px);
} */
