.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.content-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headline-container {
  width: 100vw;
}

.headline-text {
  font-family: "Beth Ellen";
  color: white;
  font-size: 48px;
  line-height: 96px;
  margin-top: 0;
}

.bold {
  font-weight: 600;
}
